* {
	font-family: 'Playfair Display';
}

body {
	margin: 0px;
}

hr {
	border: none;
	background-color: white;
	height: 1px;
}

h1 {
	font-size: 40px;
	margin-top: 25px;
	margin-bottom: 25px;
}

h3 {
	margin-top: 25px;
	margin-bottom: 25px;
}

p {
	font-size: 20px;
}

.icon {
	position: fixed;
	top: 8px;
	left: 10px;
	font-size: 20px;
	color: #afafaf;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

.icon:hover {
	color: #191919;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	cursor: pointer;
}

.front {
	height: 100vh;
	width: 100%;
	z-index: 1;
}

#musician-bg {
	margin-top: 10vh;
	position: fixed;
	background-image: url(images/wanderer.png);
	background-size: cover;
	height: 90vh;
	width: 90vh;
	z-index: -1;
}

#bookmark {
	position:absolute;
	top: 0px;
	right: 100px;
	display: inline-block;
	z-index: 1;
	background-color: #191919;
	height: 600px;
	width: 300px;
	text-align: center;
}

#bookmark:after {
	content: '';
	display: block;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 50px solid transparent;
	border-bottom-color: white;
	position: absolute;
	bottom: 0;
}

#bookmark-text {
	padding: 25px;
}

#bookmark-text h1 {
	margin-top: 20vh;
	color: white;
}

#bookmark-text h3 {
	color: white;
}

.poem-container {
	color: #191919;
	display: none;
	margin-top: 600px;
	width: 100%;
	background-color: white;
}

.poems {
	display: block;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 300%;
	/*background-color: #d6d6d6;*/
}

.p-first, .p-third {
	text-align: left;
}

.p-second, .p-fourth, .p-fifth {
	text-align: right;
}

#first-line {
	position: absolute;
	top: 180px;
	background-color: #191919;
	color: white;
	width: 100%;
	text-align: center;
	opacity: 0.8;
}

#sask-bg {
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 400px;
	background-size: cover;
	background-image: url(images/saskatchewan3.jpg);
	background-position: 50% 70%;
	clear: both;
}

.end {
	width: 100%;
	height: 50vh;
	text-align: center;
}

.end h2 {
	padding-top: 23vh;
}


























